<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style/style.css">
</head>
<body>
<div id="wrapper">
<div class="header">
  <h1>Header</h1>
</div>


<div class="row">
  <div class="column side" id="nav">
    <ul>
      <li><a href="#">Hjem</a></li>
      <li><a href="#">Side 2</a></li>
      <li><a href="#">Side 3</a></li>
      <li><a href="#">Side 4</a></li>
      <li><a href="#">Side 5</a></li>
    </ul>
  </div>
  <div class="column middle" id="middle">
    <h2>Section</h2>
    <header id="header">Header</header>
    <article id="article">Article</article>
    <footer id="footer">Footer</footer>
  </div>
  <div class="column side" id="aside">
    <h2>Aside</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </div>
</div>

<div class="footer">
  <p>Footer</p>
</div>
</div>
</body>
</html>
